<!DOCTYPE html>

<html>
<head>
<title>Sidebar</title>
<link rel="stylesheet" href="../../css/normalize.css" type="text/css">
<link rel="stylesheet" href="../../css/style.css" type="text/css">
<link rel="stylesheet" href="../../css/profile.css" type="text/css">
</head>

<body>

<div class="header">
    <nav>
<ul>
    <li><a href="../../index.html">Home</a></li>
     <li><a href="../buttons/buttons.html">Buttons</a></li>
    <li><a href="sidebar.html">Profile Sidebar</a></li>
   <li class="dropdown">Form
        <ul >
            <li><a href="../forms/signup-form.html">Sign Up</a></li>
            <li><a href="../forms/search-form.html">Search</a></li>
            <li><a href="../forms/questionnaire.html">Questionnaire</a></li>
            <li><a href="../forms/signin-form.html">Login</a></li>
            <li><a href="../forms/color-building-form.html">Color Builder</a></li>
            <li><a href="../forms/shipping-billing-form.html">Shipping/Billing</a></li>
            <li><a href="../forms/scheduling-form.html">Scheduling</a></li>
            <li><a href="../forms/credit-card-form.html">Credit/Debit</a></li>
        </ul>
    </li>  
    <li><a href="../calculator/calculator.html">Calculator</a></li>
    <li><a href="../product-listing/product-listing.html">Product Listing</a></li>
</ul>
</nav>
</div>

<div class="sidebar">
  <div class="wrapper">
	<h3>Jaymes Phimmachack</h3>

        <div class="img-container">
         <div class="photo photo-lg"><img src="../image/mypic.png"></div>
        <div class="photo photo-sm"><img src="../image/kitten.png"></div>
         <div class="photo photo-sm"><img src="../image/kitten2.png"></div>
	
        </div> 
   
	<h4>About the Developer</h4>

	<p>I enjoy programming. I could spend all day doing it. When I'm coding my mind is focus and I'm in a zone.</p>
	</div>




</body>

</html>