<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/calculator.css" type="text/css">
</head>

<body>
    <div id="home"><a href="../project-1/home.html">Home</a></div>
    <section class="cal">
        <div class="calc-container">
            <input id="display" type="text" disabled="disabled">
            <div class="btn-wrap">
                <div class="btn btn-clear" onclick="calc.eraseButton()">CLEAR</div>
                <div class="btn del" onclick="calc.delButton()">DEL</div>
                <div class="btn reg-btn" id="seven" onclick="calc.sevenButton()">7</div>
                <div class="btn reg-btn" id="eight" onclick="calc.eightButton()">8</div>
                <div class="btn reg-btn" id="nine" onclick="calc.nineButton()">9</div>
                <div class="btn symbol" id="plus" onclick="calc.plusButton()">+</div>
                <div class="btn reg-btn" id="four" onclick="calc.fourButton()">4</div>
                <div class="btn reg-btn" id="five" onclick="calc.fiveButton()">5</div>
                <div class="btn reg-btn " id="six" onclick="calc.sixButton()">6</div>
                <div class="btn symbol" id="minus" onclick="calc.minusButton()">-</div>
                <div class="btn reg-btn" id="one" onclick="calc.oneButton()">1</div>
                <div class="btn reg-btn" id="two" onclick="calc.twoButton()">2</div>
                <div class="btn reg-btn" id="three" onclick="calc.threeButton()">3</div>
                <div class="btn symbol" id="divide" onclick="calc.divideButton()">/</div>
                <div class="btn reg-btn" id="zero" onclick="calc.zeroButton()">0</div>
                <div class="btn reg-btn color1" id="dot" onclick="calc.dotButton()">.</div>
                <div class="btn reg-btn color1" onclick="calc.equalButton()">=</div>
                <div class="btn symbol" id="multiple" onclick="calc.multipleButton()">*</div>
            </div>
        </div>
    </section>
    <script src="../../js/calc.js"></script>
</body>

</html>
