<html>

<head>
    <title>Product Listing Page</title>
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/product-list.css" type="text/css">
</head>

<body>
    <div id="home"><a href="../project-1/home.html">Home</a></div>
    <div class="container">
        <div class="shop">
            <div class="product">
                <div class="item" id="itemNum1">
                    <div class="image1 img-style"></div>
                    <h4>Microsoft - Surface Pro 4 - 12.3-inch - 128GB - Intel Core m3 - Silver</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>899.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product  -->
                <div class="item" id="itemNum2">
                    <div class="image2 img-style"></div>
                    <h4>Apple - 9.7-inch iPad Pro with WiFi - 128GB - Silver</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>749.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
                <div class="item" id="itemNum3">
                    <div class="image3 img-style"></div>
                    <h4>Apple - iPad Air 2 Wi-Fi + Cellular 128GB - Gold</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>619.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product  -->
                <div class="item" id="itemNum4">
                    <div class="image1 img-style"></div>
                    <h4>Apple - iPad Air 2 Wi-Fi + Cellular 128GB - Gold</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>619.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product-->
                <div class="item" id="itemNum5">
                    <div class="image2 img-style"></div>
                    <h4>Apple - 9.7-inch iPad Pro with Wi-Fi + Cellular - 128GB - Space Gray</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>879.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
                <div class="item" id="itemNum6">
                    <div class="image3 img-style"></div>
                    <h4>Samsung - Galaxy View - 18.4-inch - 32GB - Black</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>549.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
                <div class="item" id="itemNum7">
                    <div class="image1 img-style"></div>
                    <h4>Microsoft - Surface 3 - 10.8-inch - Intel Atom - 128GB - Silver</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>599.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
                <div class="item" id="itemNum8">
                    <div class="image2 img-style"></div>
                    <h4>Apple - iPad mini 4 Wi-Fi 64GB - Silver</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>499.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
                <div class="item" id="itemNum9">
                    <div class="image3 img-style"></div>
                    <h4>Apple - 9.7-inch iPad Pro with WiFi - 128GB - Rose Gold</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>749.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
                <div class="item" id="itemNum10">
                    <div class="image1 img-style"></div>
                    <h4>Microsoft - Surface Pro 4 - 12.3-inch - 128GB - Intel Core i5 - Silver</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin tortor elementum volutpat dignissim. Nunc quis vehicula tellus. Praesent malesuada dictum est quis luctus. Pellentesque lacus metus, pellentesque vel odio eget, vulputate dignissim felis. Etiam a ipsum a justo lacinia scelerisque. </p>
                    <div class="price"><span>$</span><span>999.99</span></div>
                    <label>Qty: </label>
                    <input type="number" min="1" max="10" value="1" class="qty">
                    <br>
                    <br>
                    <button class="button" onclick="cartSystem.addItem(this)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <!-- product -->
            </div>
            <!-- product list -->
            <div class="cart">
                <div class="cart-title">Shopping Cart</div>
                <div class="cart-header">
                    <div>Description</div>
                    <div>Quantity</div>
                    <div>Remove</div>
                    <div>Total</div>
                </div>
                <!-- cart title -->
                <div class="cart-body">
                    <div class="cart-detail" id="item1">
                        <div class="description">Microsoft - Surface Pro 4 - 12.3-inch - 128GB - Intel Core m3 - Silver</div>
                        <div class="input">
                            <input type="number" min="0" max="10" value="1" class="qty" onchange="cartSystem.updateBySelect(this)">
                        </div>
                        <div>
                            <button class="btn-apply" onclick="cartSystem.removeButton(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="total">$899.99</div>
                    </div>
                    <!-- cart detail -->
                    <div class="cart-detail" id="item2">
                        <div class="description">Apple - 9.7-inch iPad Pro with WiFi - 128GB - Silver</div>
                        <div class="input">
                            <input type="number" min="0" max="10" value="1" class="qty" onchange="cartSystem.updateBySelect(this)">
                        </div>
                        <div>
                            <button class="btn-apply" onclick="cartSystem.removeButton(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="total">$749.99</div>
                    </div>
                    <!-- cart detail -->
                    <div class="cart-detail" id="item3">
                        <div class="description ">Samsung - Galaxy View - 18.4-inch - 32GB - Black</div>
                        <div class="input">
                            <input type="number" min="0" max="10" value="1" class="qty" onchange="cartSystem.updateBySelect(this)">
                        </div>
                        <div>
                            <button class="btn-apply" onclick="cartSystem.removeButton(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="total">$549.99</div>
                    </div>
                    <!-- cart detail -->
                    <div class="cart-detail" id="item4">
                        <div class="description">Apple - 9.7-inch iPad Pro with WiFi - 128GB - Rose Gold</div>
                        <div class="input">
                            <input type="number" min="0" max="10" value="1" class="qty" onchange="cartSystem.updateBySelect(this)">
                        </div>
                        <div>
                            <button class="btn-apply" onclick="cartSystem.removeButton(this)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="total">$749.99</div>
                    </div>
                    <!-- cart detail -->
                </div>
                <!-- cart body -->
                <div class="cart-footer">
                    <div class="promo">
                        <div class="promo-title">Enter Promo Code:</div>
                        <div>
                            <input type="text" class="promo-input">
                        </div>
                        <div>
                            <button class="btn-apply" onclick="cartSystem.activePromo()">Apply</button>
                        </div>
                    </div>
                    <!-- promo -->
                    <div class="product-cost">
                        <div class="subtotal-cost">
                            <div class="more-title">Subtotal:</div>
                            <div id="subtotal">$2949.96</div>
                        </div>
                        <!-- subtotal cost -->
                        <div class="ship-cost">
                            <div class="more-title">Shipping:</div>
                            <div id="ship-cost">$139.94</div>
                        </div>
                        <!-- ship cost -->
                        <div class="total">
                            <div class="more-title">Total:</div>
                            <div id="grand-total">$3089.90</div>
                        </div>
                        <!-- total cost -->
                        <div class="order-btn">
                            <button class="btn-apply">Place Order</button>
                        </div>
                        <!-- place order -->
                    </div>
                    <!-- product cost -->
                </div>
                <!-- cart footer -->
            </div>
            <!-- cart -->
        </div>
        <!-- shop -->
    </div>
    <script src="../../js/product.js"></script>
</body>

</html>
