<!DOCTYPE html>

<html>

  <head>
    <title>Color Building Form</title>
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/form.css" type="text/css">
  </head>

  <body>

<div class="header">
    <nav>
<ul>
    <li><a href="../../index.html">Home</a></li>
     <li><a href="../buttons/buttons.html">Buttons</a></li>
    <li><a href="../sidebar/sidebar.html">Profile Sidebar</a></li>
   <li class="dropdown">Form
        <ul >
            <li><a href="signup-form.html">Sign Up</a></li>
            <li><a href="search-form.html">Search</a></li>
            <li><a href="questionnaire.html">Questionnaire</a></li>
            <li><a href="signin-form.html">Login</a></li>
            <li><a href="color-building-form.html">Color Builder</a></li>
            <li><a href="../forms/shipping-billing-form.html">Shipping/Billing</a></li>
            <li><a href="scheduling-form.html">Scheduling</a></li>
            <li><a href="credit-card-form.html">Credit/Debit</a></li>
        </ul>
    </li>  
    <li><a href="../calculator/calculator.html">Calculator</a></li>
    <li><a href="../product-listing/product-listing.html">Product Listing</a></li>
</ul>
</nav>
</div>

    <section>
      <h1>Color Building Form</h1>

      <form>
        <label for="red">Red</label>
        <input class="input-adjust" type="range" min="0" max="255" step="5" name="red" id="red">
        <label for="green">Green</label>
        <input class="input-adjust" type="range" min="0" max="255" step="5" name="green" id="green">
        <label for="blue">Blue</label>
        <input class="input-adjust" type="range" min="0" max="255" step="5" name="blue" id="blue">
        <label for="alpha">Alpha</label>
        <input class="input-adjust" type="range" min="0" max="1" step="0.01" name="alpha" id="alpha">
        <label for="gen-color">Generated Color</label>
        <input class="input-adjust" type=“text” disabled="disabled" name="gen-color" id="gen-color">
      </form>


    </section>

  </body>

</html>







