<!DOCTYPE html>

<html>

  <head>
    <title>Search Form</title>
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
   <link rel="stylesheet" href="../../css/form.css" type="text/css">
  </head>

  <body>

<div class="header">
       <nav>
<ul>
    <li><a href="../../index.html">Home</a></li>
     <li><a href="../buttons/buttons.html">Buttons</a></li>
    <li><a href="../sidebar/sidebar.html">Profile Sidebar</a></li>
   <li class="dropdown">Form
        <ul >
            <li><a href="signup-form.html">Sign Up</a></li>
            <li><a href="search-form.html">Search</a></li>
            <li><a href="questionnaire.html">Questionnaire</a></li>
            <li><a href="signin-form.html">Login</a></li>
            <li><a href="color-building-form.html">Color Builder</a></li>
            <li><a href="../forms/shipping-billing-form.html">Shipping/Billing</a></li>
            <li><a href="scheduling-form.html">Scheduling</a></li>
            <li><a href="credit-card-form.html">Credit/Debit</a></li>
        </ul>
    </li>  
    <li><a href="../calculator/calculator.html">Calculator</a></li>
    <li><a href="../product-listing/product-listing.html">Product Listing</a></li>
</ul>
</nav>
</div>

<section id="search-form">
  <h1>Search Form</h1>  

  <form>

<input class="input-adjust" type="search" placeholder="Keywords, Model# or Item#" id="search">


<select>
<option>Search all</option>  
<option>Computer Systems</option>
<option>Components</option>
<option>Electronics</option>
<option>Gaming</option>
<option>Networking</option>
<option>Software &amp; Services</option>
</select>
<input class="input-adjust" type="submit" value="Search">

</form>

</section>



    <script src="../../js/formValidate.js"></script>

  </body>

</html>