<!DOCTYPE html>

<html>

  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css">
     <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/form.css" type="text/css">
  </head>

  <body>

<div class="header">
    <nav>
<ul>
    <li><a href="../../index.html">Home</a></li>
     <li><a href="../buttons/buttons.html">Buttons</a></li>
    <li><a href="../sidebar/sidebar.html">Profile Sidebar</a></li>
   <li class="dropdown">Form
        <ul >
            <li><a href="signup-form.html">Sign Up</a></li>
            <li><a href="search-form.html">Search</a></li>
            <li><a href="questionnaire.html">Questionnaire</a></li>
            <li><a href="signin-form.html">Login</a></li>
            <li><a href="color-building-form.html">Color Builder</a></li>
            <li><a href="../forms/shipping-billing-form.html">Shipping/Billing</a></li>
            <li><a href="scheduling-form.html">Scheduling</a></li>
            <li><a href="credit-card-form.html">Credit/Debit</a></li>
        </ul>
    </li>  
    <li><a href="../calculator/calculator.html">Calculator</a></li>
    <li><a href="../product-listing/product-listing.html">Product Listing</a></li>
</ul>
</nav>
</div>

<section id="signup">
  <h1>Sign Up</h1>  
<form>

<label for="firstname">First Name: </label> <input class="input-adjust" type="text"  id="firstname" name="firstname">

<label for="lastname">Last Name:</label> <input class="input-adjust" type="text"  id="lastname" name="lastname">

<label for="email">Email Address:</label> <input class="input-adjust" type="text"  id="email" name="email">

<label for="dob">Date of Birth:</label> <input class="input-adjust" type="date"  id="dob" name="dob">


<label for="password">Password:</label> <input class="input-adjust" type="password"  id="password" name="password">


<input class="input-adjust" type="submit" value="Create account">


</form>
</section>




    <script src="../../js/formValidate.js"></script>

  </body>

</html>