<!DOCTYPE html>

<html>

  <head>
    <title>Sign in</title>
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/form.css" type="text/css">
  </head>

  <body>

<div class="header">
    <nav>
<ul>
    <li><a href="../../index.html">Home</a></li>
     <li><a href="../buttons/buttons.html">Buttons</a></li>
    <li><a href="../sidebar/sidebar.html">Profile Sidebar</a></li>
   <li class="dropdown">Form
        <ul >
            <li><a href="signup-form.html">Sign Up</a></li>
            <li><a href="search-form.html">Search</a></li>
            <li><a href="questionnaire.html">Questionnaire</a></li>
            <li><a href="signin-form.html">Login</a></li>
            <li><a href="color-building-form.html">Color Builder</a></li>
            <li><a href="../forms/shipping-billing-form.html">Shipping/Billing</a></li>
            <li><a href="scheduling-form.html">Scheduling</a></li>
            <li><a href="credit-card-form.html">Credit/Debit</a></li>
        </ul>
    </li>  
    <li><a href="../calculator/calculator.html">Calculator</a></li>
    <li><a href="../product-listing/product-listing.html">Product Listing</a></li>
</ul>
</nav>
</div>

<section id="sign-in">
<h1>Sign in</h1>
<form class="sign-in">
<input class="input-adjust" type="text" placeholder="Email" id="email">
<input class="input-adjust" type="password" placeholder="Password" id="password">
<input class="input-adjust" type="submit" value="Sign in">

<label for="logged-in" class="log-in-state"><input type="checkbox" name="logged-in" id="logged-in"> Keep me logged in</label>
<a href="#" class="link">Register</a> 
<a href="#" class="link">Forgot Password?</a>
</form>
</section>



    <script src="../../js/formValidate.js"></script>

  </body>

</html>



